@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Delius&display=swap");
@import "tailwindcss";

h1,
h2,
h3 {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}
